@model My_EShop_2.Product

@{
    ViewData["Title"] = "ویرایش محصول";
}
<h1>ویرایش محصول</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <input type="hidden"  asp-for="ProductId" value="@Model.ProductId"/>
            <input type="hidden"  asp-for="ImageExtension" value="@Model.ImageExtension"/>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="CategoryId" asp-items="@ViewBag.CategoriesList" class="form-control">
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input type="number" min="0" step="500" asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantityInStock" class="control-label"></label>
                <input min="1" asp-for="QuantityInStock" class="form-control" />
                <span asp-validation-for="QuantityInStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="file" name="ProductImage" draggable="true" />
            </div>
            <div class="form-group">
                <a href="javascript:history.go(-1)" class="btn btn-secondary">بازگشت</a>
                <input type="submit" value="ثبت" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
