@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h1 class="m-auto">پنل مدیریت</h1>
<hr />

<div class="row">
    <div class="col-md-4 col-sm-5 col-12">
        <div class="card p-2">
            <div class="row no-gutters">
                <div class="col-md-6">
                    <img src="~/Images/GroupManager.png" class="card-img" alt="..." height="130">
                </div>
                <div class="col-md-6 d-flex align-items-center flex-row">
                    <div class="card-body d-flex align-items-center">
                        <h6>مدیریت گروه ها</h6>

                    </div>
                </div>
            </div>
            <a class="stretched-link" href="/Admin/Categories/Index"></a>
        </div>
    </div>


    <div class="col-md-4 col-sm-5 col-12 mb-4"  >
        <div class="card p-2">
            <div class="row no-gutters">
                <div class="col-md-6">
                    <img src="~/Images/Products.jpg" class="card-img" alt="..." height="130">
                </div>
                <div class="col-md-6 d-flex align-items-center flex-row">
                    <div class="card-body d-flex align-items-center">
                        <h6>مدیریت محصولات</h6>

                    </div>
                </div>
            </div>
            <a class="stretched-link" href="/Admin/Products/Index"></a>
        </div>
    </div>



    <div class="col-md-4 col-sm-5 col-12">
        <div class="card p-2">
            <div class="row no-gutters">
                <div class="col-md-6">
                    <img src="~/Images/Users.png" class="card-img" alt="..." height="130">
                </div>
                <div class="col-md-6 d-flex align-items-center flex-row">
                    <div class="card-body d-flex align-items-center">
                        <h6>مدیریت کاربران</h6>

                    </div>
                </div>
            </div>
            <a class="stretched-link" href="/Admin/UsersManagement/Index"></a>
        </div>
    </div>




</div>



