
@{
    ViewData["Title"] = "صفحه ی مورد نطر پیدا نشد";
}
<div class="row bg-warning text-center">
    <h1 class="display-3 text-white m-5 m-auto">
        صفحه ی مورد نظر پیدا نشد !
    </h1>
    <img src="~/Images/ErrorImage.png" alt="Alternate Text" class="m-auto" style="max-height:70%;max-width:70%;"/>
</div>

